flask
flask-cors
pymongo[srv]
flask-jwt-extended
google-auth
google-auth-oauthlib
google-auth-httplib2
python-dotenv
numpy
stripe
requests
werkzeug
google-genai
  "username": "testuser5",
  "email": "abcf@example.com",
  "password": "abcf@example.com",
  "role": "society"

  "username": "testuser",
  "email": "usertesting@gmail.com",
  "password": "usertesting@gmail.com",
  "role": "user"
