cd backend
pip install flask flask-cors pymongo
pip install flask-jwt-extended
python -m pip install "pymongo[srv]"

npm install mongoose
python app.py

{
  "username": "admin",
  "email": "admin@example.com",
  "password": "Admin#123",
  "role": "admin"
}


  "username": "testuser3",
  "email": "abce@example.com",
  "password": "12345Aa#",
  "role": "society"

  "username": "testuser5",
  "email": "abcf@example.com",
  "password": "12345Aa#",
  "role": "society"

  "username": "testuser",
  "email": "testuser@example.com",
  "password": "password123",
  "role": "user"

 "username": "testuser2",
  "email": "abc@gmail.com",
  "password": "12345Aa#",
  "role": "user"

   "username": "testuser3",
  "email": "abcd@gmail.com",
  "password": "12345Aa#",
  "role": "user"
